#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-content ion-button{
  --background: primary;
  text-decoration-style: round($number: 10);
  --expand: full;
}
.icon-pos {
  position: absolute;
  top: 25px;
}

.search-bar {
  min-width: 348px;
  text-indent: 30px !important;
  box-sizing: border-box;
}

.search-drop-down {
  position: absolute;
  width: 50%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  background-color: #F6F6F6;
  font-family: sans-serif;
  opacity: 0.98;
}

.search-results {
  padding: 10px;
}

.search-results:hover {
  background: #707070;
}

.color-purple {
  color: #A550BC;
}