<ion-header>
<ion-toolbar color="dark">
  <ion-buttons slot="primary">
    <ion-button (click)="search()">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="aggiungiContesto()" >
          <ion-icon slot="icon-only" name="add-outline" ></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Contesti</ion-title>
</ion-toolbar>
</ion-header>
<ion-content class='ion-padding'>

  <ion-list #lista>

    
    <ion-item-sliding *ngFor="let item of context">
      <ion-item expand="full" href="/nuovo-progetto" (click)="vai(item)" >
        {{item}}
      </ion-item>

      <ion-item-options side='end'>
        <ion-item-option color="danger"(click)="removeItem(item)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="ricerca()">ESEGUI RICERCA PER CONTESTO</ion-button>
  </ion-toolbar>
</ion-footer>